
<div class="row">
  <div class="columns small-12 medium-6 large-4 posts"  *ngFor="let post of posts">
    <div class="post-container">
      <div class="row">
        <div class="columns small-12 large-10">
          <a routerLink="/details/{{ post._id }}" class="post-title">{{ post.title }}</a>
        </div>
        <div class="columns small-12 large-2 show-for-large">
          <a href="{{ post.url }}" target="_blank" class="external"><img src="/assets/images/external.svg"></a>
        </div>
      </div>
      <p>{{ post.description | length: 130 }}</p>
      <a routerLink="/details/{{ post._id }}" class="cta-btn btn2">More Info</a>
    </div>
  </div>
</div>

