
<div *ngIf="post" class="body-blur">  

      <div class="row">
        <div class="columns small-12 medium-10">
          <a routerLink="/" id="back">Back</a>
          <h1>{{ post.title }}</h1>
        </div>
        <div class="columns small-12 medium-2">
          <a href="{{ post.url }}" id="external-btn"><object type="image/svg+xml" data="/assets/images/external.svg"></object></a>
        </div>
      </div>

      <div class="row columns">
        <p>{{ post.description }}</p>
      </div>


</div>
