
<div *ngIf="post" class="body-blur">  

      <div class="row">
        <div class="columns small-12 medium-10">
          <a routerLink="/" id="back">Back</a>
          <h1>{{ post.title }}</h1>
        </div>
        <div class="columns small-12 medium-2">
          <a href="{{ post.url }}" id="external-btn">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="498 268 70 70" style="width:100%; height:100%">
  <g id="Group_5" data-name="Group 5" transform="translate(-391 -311)">
    <circle id="Ellipse_1" data-name="Ellipse 1" class="cls-1" cx="35" cy="35" r="35" transform="translate(889 579)"/>
    <path id="Path_27" data-name="Path 27" class="cls-2" d="M23.639.037V0H8.748L4.5,4.207H17.273L0,25.5H5.733L20.809,6.924V19.879l4.207-4.951V.037Z" transform="translate(910.092 602.5)"/>
  </g>
</svg>
          </a>
        </div>
      </div>

      <div class="row columns">
        <p>{{ post.description }}</p>
      </div>


</div>
